#info {
  position: fixed;
  top: 8px;
  right: 8px;
  bottom: auto;
  left: auto;

  width: 280px;
  height: auto;
  max-height: calc(100vh - 16px);

  padding: 4px;
  margin: 0;
  background: #fcfdfe;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);

  overflow: hidden;
  cursor: default;
  z-index: 20;
  box-sizing: border-box;
}

#info.widen {
  width: 420px;
}

#info > header {
  position: sticky;
  top: 0;
  right: auto;
  width: 100%;
  box-sizing: border-box;
  color: #808080;
  background-image: linear-gradient(to bottom right, #efefef, #fcfdfe);
  z-index: 1;
}

#info.widen > header {
  width: 100%;
}

#info-generic,
#info-group,
#info-uploaded,
#info-video,
#info-asciidoc,
#info-timeline,
#info-contents {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

#info .info {
  margin-top: 8px;
}

#info * {
  /* disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#infoWiden {
  position: absolute;
  top: 44px;
  left: 29px;
}

#infoDismiss {
  position: absolute;
  top: 16px;
  right: 12px;
}

#editOpen {
  position: absolute;
  top: 16px;
  right: 32px;
}

#info .fa,
#info .fas,
#info .fab,
#info .far {
  color: #808080;
  cursor: pointer;
}

#info .fas {
  color: #808080;
}

#info .fa:hover,
#info .fas:hover,
#info .fab:hover,
#info .far:hover  {
  color: rgb(77, 179, 205);
  text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

.info .frame img {
  max-width: 100%;
  height: auto;
}

#info input,
#info textarea {
  background: #fcfdfe;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #cdcdcd;
  border-left: none;
  margin-top: 4px;
  padding: 4px;
}