#search-this_note {
  margin-top: 4rem;
}
#search-this_note input[type=search],
#search-this_note input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
/* #search-this_note input[type=search],
#search-this_note input[type=text]:focus {
  width: 100%;
} */

/** items */
#search-this_note ul.list-group {
  width: 274px;
  font-size: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#search-this_note li.list-item {
  float: left;
}
#search-this_note li.list-item {
  width: 270px;
  padding: 2px 4px;
}
#search-this_note li.list-item img {
  cursor: pointer;
}
#search-this_note li.list-item img:hover {
          box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
     -moz-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
      -ms-box-shadow: 0.1rem 0.3rem 0.5rem rgba(64, 64, 64, 0.4);
}
#search-this_note li.list-item .content {
  padding: 0 4px;
}

